@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Tilt+Prism&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  margin: 0;
  overflow: hidden;
  position: relative;
}

:root {
  --primary-color: #00524c;
  --secondary-color: #49817f;
  --clickable-color: #26cfaa;
  --white-color: #f3eff5;
  --black-color: #2e2836;
  --decoration-color: #e0607eff;

  --big-round: 30px;
  --medium-round: 20px;

  font-family: "Poppins", sans-serif;
}

.shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.big-round-right {
    border-radius: var(--big-round) 0px;
}

.big-round-left {
    border-radius: 0px var(--big-round);
}

.medium-round-right {
    border-radius: var(--medium-round) 0px;
}

.medium-round-left {
    border-radius: 0px var(--medium-round);
}